extends base

block head 
    link(rel='stylesheet' href='/css/manageCars.css')
    
block content
    main.vista-admin-vehiculos
        h2.titulo-vista Administrar Vehículos
        
        a.btn.btn--green(href='/add-car') Añadir Vehículo        
        
        if cars.length > 0
            table.tabla-vehiculos
                thead
                    tr
                        th Marca
                        th Modelo
                        th Año
                        th Precio (€)
                        th Vendido
                        th Comprado por
                        th Acciones
                tbody
                    each car in cars
                        tr
                            td= car.brand
                            td= car.model
                            td= car.year
                            td= `${car.price} €`
                            td= car.sold ? 'Sí' : 'No'
                            td 
                                if car.buyer 
                                    span= `${car.buyer.name} (${car.buyer.email})`
                                else
                                    span No vendido
                            td
                                button.btn.btn--small.btn--rojo.btn-car-delete(data-id=`${car._id}`) Eliminar
        else
            p No hay vehículos disponibles en la base de datos.
