extends base

block head 
    link(rel='stylesheet', href='/css/myPurchases.css')
block content
    main.contenedor-principal
        h2 Mis compras
        if purchases.length
            .contenedor-tarjetas
                each sale in purchases
                    .tarjeta
                        .tarjeta__imagen
                            if sale.car 
                                img.tarjeta__imagen-img(src=`img/cars/${sale.car.coverImage || 'default.jpg'}`, alt=`${sale.car.brand} ${sale.car.model}`)
                            else 
                                img.tarjeta__imagen-img(src=`img/cars/default.jpg`, alt='Vehículo eliminado')
                        .tarjeta__detalles
                            if sale.car 
                                h3= `${sale.car.brand} ${sale.car.model}`
                                p Año: #{sale.car.year}
                                p Precio: #{sale.price} €
                                p Numero de factura: #{sale.invoiceNumber}
                                p Descargar factura:
                                a.btn.btn--small.btn--azul(href=`/api/v1/sales/${sale._id}/factura`, target="_blank") Descargar factura

                            else  
                                h3 No se ha encontrado el vehículo 
                        .tarjeta__pie
                            span Fecha de compra: #{sale.createdAt ? sale.createdAt.toLocaleDateString('es-ES') : 'Desconocida'}      
        else
            p No has realizado ninguna compra todavía.
