extends base

block content 
    main.contenedor-principal 
        .contenedor-tarjetas 
            each car in cars 
                .tarjeta(class=car.sold ? 'tarjeta-vendido' : '')
                    .tarjeta__encabezado 
                        .tarjeta__imagen 
                            .tarjeta__imagen-overlay &nbsp;
                            img.tarjeta__imagen-img(src=`img/cars/${car.coverImage || 'default.jpg'}`, alt=`${car.brand} ${car.model}`)
                        h3.encabezado-terciario 
                            span= car.brand 
                            span= car.model
                        
                    .tarjeta__detalles
                        .tarjeta__dato 
                            span= `Año de fabricación: ${car.year}`
                        .tarjeta__dato
                            span= `Tipo de combustible: ${car.fuelType}`
                        .tarjeta__dato
                            span= `Potencia: ${car.enginePower} CV`

                    .tarjeta__pie 
                        p
                            span.tarjeta__pie-valor= `${car.price}€`
                        a.boton.boton--verde.boton--pequeno(href=`/car/${car._id}`) Ver detalles
        if totalPages > 1
        nav.paginacion
            ul
                if currentPage > 1
                    li
                        a(href=`/?page=${currentPage - 1}`) « Anterior
                each page in [...Array(totalPages).keys()].map(n => n + 1)
                    li(class=page === currentPage ? 'activo' : '')
                        a(href=`/?page=${page}`)= page
                if currentPage < totalPages
                    li
                        a(href=`/?page=${currentPage + 1}`) Siguiente »
